html
{
    font-size: 62.5%;
	font-family: 'Lato', sans-serif;
}
body 
{
	background: #374775;
	color: White;
}
a {
	color:White;
	
}
.bodyholder {
	font-family: 'Lato', sans-serif;
	min-height: 60em;
	background: #d9e1fc;
	background: -moz-linear-gradient(top,  #d9e1fc 0%, #bbd9f7 25%, #374775 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d9e1fc), color-stop(25%,#bbd9f7), color-stop(100%,#374775));
	background: -webkit-linear-gradient(top,  #d9e1fc 0%,#bbd9f7 25%,#374775 100%);
	background: -o-linear-gradient(top,  #d9e1fc 0%,#bbd9f7 25%,#374775 100%);
	background: -ms-linear-gradient(top,  #d9e1fc 0%,#bbd9f7 25%,#374775 100%);
	background: linear-gradient(to bottom,  #d9e1fc 0%,#bbd9f7 25%,#374775 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9e1fc', endColorstr='#374775',GradientType=0 );
}
img {
	max-width: 100px;
}
.mainnav {
	padding-top: 2.5em;
	font-size: 1.2em;
}
legend {
	color: White;
	text-align: center;
	
}
.title 
{
	font-family: 'Dancing Script', cursive;
	font-size: 4em;
	color: White;
	
}
.headerholder 
{
	padding-top: 10px;
	background: #374775;
	padding-bottom: 10px;
	border-bottom: 3px solid white;
	
}
.workarea 
{
background: #374775;
-webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
	
}
.event 
{
    float: left;
    margin: 1em;
    border-radius: 1.5em;
    text-align:left;
    border: none;
    background: #374775;
	
}
.event.over
{
  border: 2px dashed #000;
}
.event p
{
    padding: .5em;
    font-size: 1em;
}
.ui-dialog-buttonpane  {
	background: white;
}
ui-dialog{
background: white;
}
footer 
{
	min-height: 30px;
}