html
{
    font-size: 62.5%;
	font-family: 'Lato', sans-serif;
}
body 
{
	
	color: White;
	font-family: 'Lato', sans-serif;
}
.bodyholder {
	
}
.row.background 
{
	background: #d9e1fc;
	background: -moz-linear-gradient(top,  #d9e1fc 0%, #bbd9f7 25%, #374775 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d9e1fc), color-stop(25%,#bbd9f7), color-stop(100%,#374775));
	background: -webkit-linear-gradient(top,  #d9e1fc 0%,#bbd9f7 25%,#374775 100%);
	background: -o-linear-gradient(top,  #d9e1fc 0%,#bbd9f7 25%,#374775 100%);
	background: -ms-linear-gradient(top,  #d9e1fc 0%,#bbd9f7 25%,#374775 100%);
	background: linear-gradient(to bottom,  #d9e1fc 0%,#bbd9f7 25%,#374775 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9e1fc', endColorstr='#374775',GradientType=0 );
}
img {
	max-width: 100px;
}
.mainnav {
	padding-top: 2.5em;
	font-size: 1.2em;
}
.title 
{
	font-family: 'Dancing Script', cursive;
	font-size: 4em;
	color: White;
	
}
.headerholder 
{
	padding-top: 10px;
	background: #374775;
	padding-bottom: 10px;
	
}
.workarea 
{
background: #f2f9fe;
background: -moz-linear-gradient(top,  #f2f9fe 0%, #d6f0fd 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f9fe), color-stop(100%,#d6f0fd));
background: -webkit-linear-gradient(top,  #f2f9fe 0%,#d6f0fd 100%);
background: -o-linear-gradient(top,  #f2f9fe 0%,#d6f0fd 100%);
background: -ms-linear-gradient(top,  #f2f9fe 0%,#d6f0fd 100%);
background: linear-gradient(to bottom,  #f2f9fe 0%,#d6f0fd 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f9fe', endColorstr='#d6f0fd',GradientType=0 );
-webkit-border-bottom-right-radius: 25px;
-webkit-border-bottom-left-radius: 25px;
-moz-border-radius-bottomright: 25px;
-moz-border-radius-bottomleft: 25px;
border-bottom-right-radius: 25px;
border-bottom-left-radius: 25px;
	
}
.event 
{
    float: left;
    margin: 1em;
    border-radius: 1.5em;
    text-align:left;
    max-width: 40rem;
    border: none;
    background: #374775;
	
}
.event.over
{
  border: 2px dashed #000;
}
.event p
{
    padding: .5em;
    font-size: 1em;
}