html
{
    font-size: 62.5%;
	font-family: 'Lato', sans-serif;
}
h1 
{
	font-family: 'Dancing Script', cursive;
	text-align: center;
	margin-top: .1em;
}
h3 
{
	padding: 0;
	margin: 0;
	font-size: 1.2em;
	text-align: center;
}
body 
{
	font-family: 'Lato', sans-serif;
	background: #374775;
	color: White;
}
.row 
{
	max-width: 1300px;
	margin: 0 auto;
}
.homeHolder 
{
	margin-top: 2em;
	margin-bottom: 2em;
	background: white;
	min-width: 20em;
	max-width: 60em;
	color: #374775;
	font-family: 'Lato', sans-serif;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 1);
	-moz-box-shadow:    0px 0px 30px rgba(0, 0, 0, 1);
	box-shadow:         0px 0px 30px rgba(0, 0, 0, 1);
	border-radius: 30px;
	margin-left: auto;
	margin-right: auto;
}
.chapters 
{
	width: 100%;
	margin: 0 auto;
	padding: 5em;
	margin: 2em;
    -moz-border-radius: 1.5em;
	-webkit-border-radius: 1.5em;
    border-radius: 1.5em;
    text-align:left;
    background: #374775;
    border: 3px solid white; 
}
.chapters h3 
{
	background: Transparent;
	border: 1px solid white;
	color: White;
	font-family: 'Dancing Script', cursive;
	text-align: center;
	-moz-border-radius: 1.5em;
	-webkit-border-radius: 1.5em;
    border-radius: 1.5em;
	width: 90%;
	font-size: 2em;
	margin-bottom: 1em;
}
.innerHome 
{
	margin-top: 1em;
}
.slideshow 
{
	margin-bottom: 1.2em;
	border: .3em solid #374775;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow:  3px 3px 4px #333333;
	-moz-box-shadow:  3px 3px 4px #333333;
    box-shadow:  3px 3px 4px #333333;
    min-width: 40em;
    max-width: 50em;
    margin-top: 1em;
    margin-bottom: 1em;
}
input[type=text] 
{
	background-color: transparent;
	border: none; 
	color: White;
}
input[type=submit] 
{
	display: none;
}
.page 
{
	background: #d9e1fc;
	background: -moz-linear-gradient(top,  #d9e1fc 0%, #bbd9f7 25%, #374775 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d9e1fc), color-stop(25%,#bbd9f7), color-stop(100%,#374775));
	background: -webkit-linear-gradient(top,  #d9e1fc 0%,#bbd9f7 25%,#374775 100%);
	background: -o-linear-gradient(top,  #d9e1fc 0%,#bbd9f7 25%,#374775 100%);
	background: -ms-linear-gradient(top,  #d9e1fc 0%,#bbd9f7 25%,#374775 100%);
	background: linear-gradient(to bottom,  #d9e1fc 0%,#bbd9f7 25%,#374775 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9e1fc', endColorstr='#374775',GradientType=0 );
	background-size: cover;
}
a 
{
	color:White;
	
}
a:hover 
{
	text-decoration: none;
}
.bodyholder 
{
	
}
img 
{
	max-width: 100px;
}
.mainnav 
{
	padding-top: 2.5em;
	font-size: 1.3em;
}
.bsHeader 
{
	width:  100%;
	background: white;
	-moz-border-radius: 1.5em;
	-webkit-border-radius: 1.5em;
	border-radius: 1.5em;
	border: 3px solid white;
	margin-top: 1em; 
	margin-bottom: .5em; 
	color: #374775;
	-webkit-box-shadow:  3px 3px 4px #333333;
	-moz-box-shadow:  3px 3px 4px #333333;
    box-shadow:  3px 3px 4px #333333;
}
legend 
{
	color: White;
	text-align: center;
	
}
.title 
{
	font-family: 'Dancing Script', cursive;
	font-size: 4em;
	color: White;
	
}
.title:hover 
{
	color: White;
	text-decoration: none;
}
.headerholder 
{
	padding-top: 10px;
	background: #374775;
	padding-bottom: 10px;
	border-bottom: 3px solid white;
	
}
.event 
{
    float: left;
    margin: .5em;
    -moz-border-radius: 1.5em;
	-webkit-border-radius: 1.5em;
    border-radius: 1.5em;
    text-align:left;
    border: none;
    background: #374775;
    border: 3px solid white;
	
}
.event.add 
{
	border: none;
	background: Transparent;
}
.event.over
{
  border: 2px dashed #000;
}
.event p
{
    padding: .5em;
    font-size: 1em;
}
.ui-dialog-buttonpane  
{
	background: white;
}
ui-dialog
{
	background: white;
}
footer 
{
	min-height: 30px;
	padding: .5em;
	bottom: 1em;
}
.backcolorWhite 
{
	background: white;
	color: Black;
	margin: 1em;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
}
.hideme 
{
	margin: 0;
}