@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>

    @Html.ActionLink("Check Stats", "GetStats", "Home")
    <textarea class="bigTextBox" rows="4" cols="50">
    </textarea>

</p>
