html
{
    font-size: 62.5%;
}

body
{
    font-family:"Arial", Arial, sans-serif;
    background-color: #ccffff;
}

/*Editable text*/
div.mytext
{
    font-size: 2em;
    border: .3rem solid black;
    min-height: 20rem;
    max-width: 40rem;
    background-color:White;
}