@model IEnumerable<Blue_Script.Character>
<ul>
@for (var i = 0; i < Model.Count(); i++)
{
	<li>
		<p class="pull-left">@Html.ActionLink("X", "DeleteCharacter", new { id = Model.ElementAt(i).CharacterID })</p>
		<a href="#">@Model.ElementAt(i).FullName</a>
	</li>		
}
</ul>
<div class="event add">
	<a href="@Url.Action("CreateCharacter", "Home")"><i class="icon-plus-sign-alt icon-4x">
	</i></a>
</div>
