@model IEnumerable<Blue_Script.Character>
@for (var c = 0; c < Model.Count();  c++)
{
	<div class="event well" draggable="true">
		@Html.Action("EditCharacter", "Home", new { id = Model.ElementAt(c).CharacterID })
	</div>
}
<div class="event add">
	<a href="@Url.Action("CreateCharacter", "Home")"><i class="icon-plus-sign-alt icon-4x">
	</i></a>
</div>
