@model IEnumerable<Blue_Script.Chapter>
@{
	ViewBag.Title = "BlueScript Home";
}
<div class="row chapters">
	<div class="add pull-right">
		<a href="@Url.Action("CreateChapter", "Home")"><i class="icon-plus-sign-alt icon-4x">
		</i></a>
	</div>
	<div id="accordion">
		@for (var i = 0; i < Model.Count(); i++)
  {
			
			@Html.Action("EditChapter", "Home", new { id = Model.ElementAt(i).ID })
  }
	</div>
</div>

