@model IEnumerable<Blue_Script.Chapter>
@{
	ViewBag.Title = "BlueScript Home";
}
<div class="row chapters">
		<select name="chapterSelect" onchange="updateChapter();">
   @for (var i = 0; i < Model.Count(); i++)
   {
			<option>@Model.ElementAt(i).Name</option>
   }
		</select>
</div>
<div class="row">
	<textarea id="chapterText" name="body" class="text-box multi-line" onchange="save">@Model.ElementAt(0).Body</textarea>
</div>
