@model IEnumerable<Blue_Script.Models.Event>
@{
    ViewBag.Title = "My BlueScript";
}

<!--Side Nav & drag and drop area-->

	<div class="row-fluid">
		<div class="span2">
			<div class="sidebar">
				<ul class="nav nav-pills nav-stacked">
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">Add New</a>
						<ul class="dropdown-menu">
							<li><a href="#eventModal" role="button" data-toggle="modal">Event</a></li>
							<li><a href="#">Character</a></li>
							<li><a href="#">Location</a></li>
						</ul>
					</li>
					<li><a href="#">Characters</a></li>
					<li><a href="#">Locations</a></li>
				</ul>
			</div>
		</div>
		<div class="span10">
			<div class="workarea">
			@foreach(var item in Model)
				{
					<div class="event" draggable="true">
						<p class="eventname">@item.Name</p>
						<dl class="locations">
							<dt>Locations</dt>
							@foreach(var location in item.Locations)
							{
								<dd>@location.Name</dd>
							}
						</dl>
						<dl class="characters">
							<dt>Characters</dt>
							@foreach(var character in item.Characters)
							{
								<dd>@character.FullName</dd>
							}
						</dl>
						<div class="btn-group pull-right">
							<a class="btn btn-mini btn-success" href="#">
								<i class="icon-save"></i></a>
							<a class="btn btn-mini btn-danger" href="#">
								<i class="icon-trash"></i></a>
						</div>
					</div>
				}
			</div>
		</div>
	</div>




<!-- Add Event Modal -->
<div id="eventModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>New Event</h3>
  </div>
  <div class="modal-body">
    <p>this is where you edit information for your new event.</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Save changes</button>
  </div>
</div>