@model IEnumerable<Blue_Script.Scene>
@{
	ViewBag.Title = "My BlueScript";
}
<div class="row">
<header class="bsHeader" id="sceneHead">
			<h1>
				Scenes</h1>
		</header>
	<div id="tabs-1" class="tab">
		@Html.Action("Scenes","Home")
	</div>
</div>
<div class="row">
<header class="bsHeader" id="charHead">
			<h1>
				Characters</h1>
		</header>
	<div id="tabs-2" class="tab">
		@Html.Action("Characters","Home")
	</div>
</div>
<div class="row">
<header class="bsHeader" id="setHead">
			<h1>
				Settings</h1>
		</header>
	<div id="tabs-3" class="tab">
		@Html.Action("Settings","Home")
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function () {

		//Start of test code.
		$.ajaxSetup({ cache: false });

		function runEffect1() {
			var options = {};
			$("#tabs-1").toggle('clip', options, 1000);
		};

		$("#sceneHead").click(function () {
			runEffect1();
			return false;
		});
		function runEffect2() {
			var options = {};
			$("#tabs-2").toggle('clip', options, 1000);
		};

		$("#charHead").click(function () {
			runEffect2();
			return false;
		});
		function runEffect3() {
			var options = {};
			$("#tabs-3").toggle("clip", options, 1000);
		};

		$("#setHead").click(function () {
			runEffect3();
			return false;
		});

		$(".confirmDialog").on("click", function (e) {

			var url = $(this).attr('href');
			$("#dialog-confirm").dialog({
				autoOpen: false,
				resizable: false,
				height: 170,
				width: 350,
				show: { effect: 'drop', direction: "up" },
				modal: true,
				draggable: true,
				buttons: {
					"OK": function () {
						$(this).dialog("close");
						window.location = url;

					},
					"Cancel": function () {
						$(this).dialog("close");

					}
				}
			});
			$("#dialog-confirm").dialog('open');
			return false;
		});

		$("#btncancel").on("click", function (e) {
			$("#dialog-edit").dialog('close');

		});


		$('.hideme').hide();

	});

	function updateCharacter(data) {
		var num = data.ID;
		var options = {};
		$('#saveChar' + num).show("blind", options, 500, callbackChar(num));
		return false;
	};


	function callbackChar(id) {
		setTimeout(function () {
			var options = {};
			$('#saveChar' + id + ':visible').removeAttr("style").fadeOut();
		}, 1000);
	};
</script>
