@model IEnumerable<Blue_Script.Scene>
@{
	ViewBag.Title = "My BlueScript";
}
<div class="row">
<header class="bsHeader" id="sceneHead">
			<h1>
				Scenes</h1>
		</header>
	<div id="tabs-1" class="tab">
		@Html.Action("Scenes","Home")
	</div>
</div>
<div class="row">
<header class="bsHeader" id="charHead">
			<h1>
				Characters</h1>
		</header>
	<div id="tabs-2" class="tab">
		@Html.Action("Characters","Home")
	</div>
</div>
<div class="row">
<header class="bsHeader" id="setHead">
			<h1>
				Settings</h1>
		</header>
	<div id="tabs-3" class="tab">
		@Html.Action("Settings","Home")
	</div>
</div>

