@{
    ViewBag.Title = "My BlueScript";
}

<!--Side Nav & drag and drop area-->

	<div class="row-fluid">
		<div class="span2">
			<div class="sidebar">
				<ul class="nav nav-pills nav-stacked">
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">Add New</a>
						<ul class="dropdown-menu">
							<li><a href="#">Event</a></li>
							<li><a href="#">Character</a></li>
							<li><a href="#">Location</a></li>
						</ul>
					</li>
					<li><a href="#">Characters</a></li>
					<li><a href="#">Locations</a></li>
				</ul>
			</div>
		</div>
		<div class="span10">
			<div class="workarea">
			@for(var i = 0; i<3; i++)
				{
					<div class="event" draggable="true">
						<p class="eventname">Event Name</p>
						<dl class="locations">
							<dt>Locations</dt>
							<dd>Location Name</dd>
						</dl>
						<dl class="characters">
							<dt>Characters</dt>
							<dd>Character Name</dd>
						</dl>
					</div>
				}
				<div class="event" draggable="true">
						<p class="eventname">Move Me!</p>
						<dl class="locations">
							<dt>Locations</dt>
							<dd>Location Name</dd>
						</dl>
						<dl class="characters">
							<dt>Characters</dt>
							<dd>Character Name</dd>
						</dl>
					</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span2 offset10">
				<div id="bin">
					<i class="icon-remove-sign icon-4x"></i>
				</div>
			</div>
		</div>
	</div>
