@model IEnumerable<Blue_Script.Scene>
@{
    ViewBag.Title = "My BlueScript";
}
<!-- 
TODO: 
	Make adding charaters and locations right at your fingertips(inside the event)
	Be able to view, and edit via Modal
	Be able to delete
	Add buttons where they are needed
	Fix CSS Colors
	Fix Navigation
	Add Dummy data to database
	Add login screen via Modal
	Add logo to site.
	Implement Home page(Design)
	Make events partial views that work like edit views(CRUD)
	Get Dummy data to show up on the view
-->
<!--Side Nav & drag and drop area-->

	<div class="row-fluid">
		<div class="span2">
			<div class="sidebar">
				<ul class="nav nav-pills nav-stacked">
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">Add New</a>
						<ul class="dropdown-menu">
							<li><a href="#eventModal" role="button" data-toggle="modal">Scene</a></li>
							<li><a href="#">Character</a></li>
							<li><a href="#">Location</a></li>
						</ul>
					</li>
					<li><a href="#">Characters</a></li>
					<li><a href="#">Locations</a></li>
				</ul>
			</div>
		</div>
		<div class="span10">
			<div class="workarea">
			@for(var i = 0; i<Model.Count(); i++)
				{
					<div class="event" draggable="true">
					@using (Html.BeginForm())
					{
						<fieldset>
						<legend>Scene</legend>
						<div class="editor-field">@Html.EditorFor(model => Model.ElementAt(i).Name)</div>
						@foreach(var l in Model.ElementAt(i).Setting)
						{
							<div class="editor-field">@l.Name</div>
						}
						@foreach (var c in Model.ElementAt(i).Characters)
						{
							<div class="editor-field">@c.FullName</div>
						}
						@Html.TextBox(Model.ElementAt(i).Notes)
						<input type="submit" value="Save" />
						</fieldset>

					}
					</div>
					
				}
				<div class="event">
					<a href="#eventModal" role="button" data-toggle="modal"><i class="icon-plus-sign-alt icon-4x"></i></a>
				</div>
			</div>
		</div>
	</div>




<!-- Add Scene Modal -->
<div id="eventModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>New Scene</h3>
  </div>
  <div class="modal-body">
    <p>this is where you edit information for your new event.</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Add Scene</button>
  </div>
</div>