@{
    ViewBag.Title = "My BlueScript";
}

<!--Side Nav & drag and drop area-->
	<div class="row-fluid">
		<div class="span3"></div>
		<div class="span9">
			<div class="workarea">
			@for(var i = 0; i<3; i++)
				{
					<div class="event" draggable="true">
						<p class="eventname">Event Name</p>
						<dl class="locations">
							<dt>Locations</dt>
							<dd>Location Name</dd>
						</dl>
						<dl class="characters">
							<dt>Characters</dt>
							<dd>Character Name</dd>
						</dl>
					</div>
				}
			</div>
		</div>
	</div>
