<div>
<ul id="navigation">
 <li class="projectNav"><a href="#">Change Project</a></li>
 <li class="sceneNav"><a href="#">Scenes</a></li>
 <li class="characterNav"><a href="#">Characters</a></li>
 <li class="settingNav"><a href="#">Settings</a></li>
 <li class="statNav"><a href="#">Current Statistics</a></li>
</ul>
</div>