<div>
	<ul id="navigation">
		<li class="opensidr"><a href="#sidr"><i class="icon-chevron-sign-right icon-4x"></i></a></li>
	</ul>
</div>

<div id="sidr">
	<ul>
		<li class="projectNav"><a href="#"><i class="icon-edit"></i> Change Project</a></li>
		<li class="sceneNav" onclick="showSceneNav();"><a href="#"><i class="icon-film"></i> Scenes<i class="icon-chevron-right hoveronly"></i></a></li>
		<li class="characterNav" onclick="showCharacterNav();"><a href="#"><i class="icon-user"></i> Characters<i class="icon-chevron-right hoveronly"></i></a></li>
		<li class="settingNav" onclick="showSettingNav();"><a href="#"><i class="icon-map-marker"></i> Settings<i class="icon-chevron-right hoveronly"></i></a></li>
		<li class="statNav" onclick="showStatsNav();"><a href="#"><i class="icon-list-alt"></i> Current Statistics<i class="icon-chevron-right hoveronly"></i></a></li>	
	</ul>
	<div class="unsorted">@Html.Action("Unsorted","Home")</div>
	<div><button class="btn btn-xs pull-right editorlink" onclick="createlink();">Create Link for Editor</button></div>
	<textarea rows="3" cols="1" id="linkholder"></textarea>
	<div class="opensidr pull-right"><a href="#sidr"><i class="icon-chevron-sign-left icon-4x"></i></a></div>
</div>

<div id="formHolder" class="formHolder">
</div>

<div id="sidrcontent" class="sidrcontent">
</div>

