@model IEnumerable<Blue_Script.Project>
@foreach (var item in Model)
{
	<div class="event well">
		
			<span class="pull-right">@Html.ActionLink("X", "DeleteProject", new { id = item.ID })</span>
			<h3 contenteditable="true" onchange="updateProject(@item.ID, @this)">@item.Name</h3>
			<!--TODO: add link here that selects that project as the current project.-->
			<div class="btn btn-success btn-xs pull-right hideme" id="saveSet@(item.ID)">
				Saved</div>
	</div>
}

<div class="event add">
	<a href="@Url.Action("CreateProject", "Home")"><i class="icon-plus-sign-alt icon-4x"></i>
	</a>
</div>
