@model IEnumerable<Blue_Script.Unsorted>
<table id="unsortedTable">
    <tr class="tabletop">
        <th>
            Unsorted
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td class="unsortedOptions">
			<a href="#" onclick="addC(@item.ID)"><i class="icon-user"></i></a> |
			<a href="#" onclick="addS(@item.ID)"><i class="icon-map-marker"></i></a> |
			<a href="#" onclick="addI(@item.ID)">Ignore</a>
        </td>
    </tr>
}

</table>
